[*.cs]

# IDE0078: Use pattern matching
dotnet_diagnostic.IDE0078.severity = silent

# IDE0083: Use pattern matching
dotnet_diagnostic.IDE0083.severity = silent

# IDE0063: Use simple 'using' statement
dotnet_diagnostic.IDE0063.severity = none

# IDE0062: Make local function 'static'
dotnet_diagnostic.IDE0062.severity = none
